<!DOCTYPE html>
<html lang="en" data-theme="valentine">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
   

    <section class="py-10 my-auto dark:bg-gray-900">
      
        <div class="lg:w-[50%] md:w-[60%] xs:w-[76%] mx-auto flex gap-4">
            <div
                class="lg:w-[88%] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40">
                <!--  -->
                <div class="">

                    <form>
                        <!-- Cover Image -->
                        <div
                            class="w-full rounded-sm bg-cover bg-center bg-no-repeat items-center">
                            <!-- Profile Image -->
                            <div
                                class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full bg-[url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHxwcm9maWxlfGVufDB8MHx8fDE3MTEwMDM0MjN8MA&ixlib=rb-4.0.3&q=80&w=1080')] bg-cover bg-center bg-no-repeat">
    
                                
                            </div>
                            <div class="flex justify-end">
                                <!--  -->
                                <input type="file" name="profile" id="upload_cover" hidden required>
    
                               
    
                            </div>
                        </div>
                        
                        <table class="min-w-full mt-6 divide-y divide-gray-200">
                            <caption class="ms-5 mb-4 font-bold text-xl text-left">User Details</caption>
                            <tbody class="bg-white divide-y divide-gray-200">
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap">User Name</td>
                                <td class="px-6 py-4 whitespace-nowrap">Apple</td>
                              </tr>
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap">Email</td>
                                <td class="px-6 py-4 whitespace-nowrap">apple@gmail.com</td>
                              </tr>
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap">Address</td>
                                <td class="px-6 py-4 whitespace-nowrap">Pathein</td>
                              </tr>
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap">Gender</td>
                                <td class="px-6 py-4 whitespace-nowrap">female</td>
                              </tr>
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap">Date of Birth</td>
                                <td class="px-6 py-4 whitespace-nowrap">4.6.2004</td>
                              </tr>
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap">Join date</td>
                                <td class="px-6 py-4 whitespace-nowrap">1.2.2021</td>
                              </tr>
                            </tbody>
                          </table>
                          
                        <div class="w-full rounded-lg bg-blue-500 mt-4 text-white text-lg font-semibold">
                          <a href="banAccount" class="mt-5 button grid w-100 h-10 px-4 inline-flex justify-center 
                          items-center gap-2 rounded-md border border-transparent font-semibold bg-red-500 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"><span class="text-lg">Ban</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>