<!DOCTYPE html>
<html lang="en" data-theme="valentine">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="bg-gray-100">
      <div class="h-screen bg-gray-200">
        <% include ../partial/admin-nav %>
        <h1>Admin Homepage Wai Yan Aung</h1>
      </div>
    </div>
  </body>
</html>
