<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./partial/navbar %>

    <h1 class="text-4xl font-bold text-center mt-5 -mb-3">Post Collection</h1>

    <div class="max-w-screen-xl mx-auto p-16">

      <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10 -mt-5">
          <div
              class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
              <div class="py-4 px-8">

                <div class="grid grid-flow-col">
                  <div class="flex gap-2">
                  <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>
                  
                  <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Technology</button>
                  
                </div>

                  <a href="#">
                      <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
                  </a>
                  <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  
                  <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">
  
                  <hr class="mt-4">
                  <a href="/postDetail"><span class="text-sm">See more...</span></a>
              </div>
          </div>
  
          <div
              class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
              <div class="py-4 px-8">

                <div class="grid grid-flow-col">
                  <div class="flex gap-2">
                      <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>

                      <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Uncategorized</button>
                </div>

                  <a href="#">
                      <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
                  </a>
                  <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  
                  <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">
  
                  <hr class="mt-4">
                  <a href="/postDetail"><span class="text-sm">See more...</span></a>
              </div>
          </div>
  
          <div
              class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
              <div class="py-4 px-8">

                <div class="grid grid-flow-col">
                  <div class="flex gap-2">
                      <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>   
                      
                      <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Cooking</button>
                    </div>

                  <a href="#">
                      <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
                  </a>
                  <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  
                  <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">
  
                  <hr class="mt-4">
                  <a href="/postDetail"><span class="text-sm">See more...</span></a>
              </div>
          </div>
  
      </div>
  </div>

  <div class="max-w-screen-xl mx-auto p-16">

    <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10">
        <div
            class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
            <div class="py-4 px-8">

                <div class="grid grid-flow-col">
                <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>
                
                <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Art</button>
            </div>

                <a href="#">
                    <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
                </a>
                <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

                <hr class="mt-4">
                <a href="/postDetail"><span class="text-sm">See more...</span></a>
            </div>
        </div>

        <div
            class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
            <div class="py-4 px-8">

                <div class="grid grid-flow-col">
                <div class="flex gap-2">
                    <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>
                
                    <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Entertainment</button>
                </div>

                <a href="#">
                    <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
                </a>
                <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

                <hr class="mt-4">
                <a href="/postDetail"><span class="text-sm">See more...</span></a>
            </div>
        </div>

        <div
            class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
            <div class="py-4 px-8">

                <div class="grid grid-flow-col">
                <div class="flex gap-2">
                    <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>   
                    
                    <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Entertainment</button>
                </div>

                <a href="#">
                    <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
                </a>
                <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

                <hr class="mt-4">
                <a href="/postDetail"><span class="text-sm">See more...</span></a>
            </div>
        </div>

    </div>
</div>

<div class="max-w-screen-xl mx-auto p-16">

  <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10">
      <div
          class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
          <div class="py-4 px-8">

            <div class="grid grid-flow-col">
              <div class="flex gap-2">
              <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>
              
              <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Weather</button>
            </div>

              <a href="#">
                  <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
              </a>
              <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

              <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

              <hr class="mt-4">
              <a href="/postDetail"><span class="text-sm">See more...</span></a>
          </div>
      </div>

      <div
          class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
          <div class="py-4 px-8">

            <div class="grid grid-flow-col">
              <div class="flex gap-2">
                  <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>

                  <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Education</button>
                </div>

              <a href="#">
                  <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
              </a>
              <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

              <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

              <hr class="mt-4">
              <a href="/postDetail"><span class="text-sm">See more...</span></a>
          </div>
      </div>

      <div
          class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
          <div class="py-4 px-8">

            <div class="grid grid-flow-col">
              <div class="flex gap-2">
                  <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>   
                  
                  <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Fashion</button>
            </div>

              <a href="#">
                  <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
              </a>
              <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

              <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

              <hr class="mt-4">
              <a href="/postDetail"><span class="text-sm">See more...</span></a>
          </div>
      </div>

  </div>
</div>

<div class="max-w-screen-xl mx-auto p-16">

  <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10">
      <div
          class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
          <div class="py-4 px-8">

            <div class="grid grid-flow-col">
              <div class="flex gap-2">
              <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>
            
              <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Business</button>
            </div>

              <a href="#">
                  <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
              </a>
              <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

              <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

              <hr class="mt-4">
              <a href="/postDetail"><span class="text-sm">See more...</span></a>
          </div>
      </div>

      <div
          class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
          <div class="py-4 px-8">

            <div class="grid grid-flow-col">
              <div class="flex gap-2">
                  <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>
              
                  <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Travel</button>
            </div>

              <a href="#">
                  <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
              </a>
              <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

              <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

              <hr class="mt-4">
              <a href="/postDetail"><span class="text-sm">See more...</span></a>
          </div>
      </div>

      <div
          class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
          <div class="py-4 px-8">

            <div class="grid grid-flow-col">
              <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" class="rounded-full h-12 w-12 mb-4"><p>JaxStone<br><small>6 mins ago</small></p></div>                    
              
                <button class="btn btn-sm sm:btn-sm mx-1 float-end my-1">Agriculture</button>
            </div>

                <a href="#">
                  <h4 class="text-lg mb-3 font-semibold">How to be effective at working remotely?</h4>
              </a>
              <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

              <img src="https://images.pexels.com/photos/461077/pexels-photo-461077.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100">

              <hr class="mt-4">
              <a href="/postDetail"><span class="text-sm">See more...</span></a>
          </div>
      </div>

  </div>
</div>





  </body>
</html>
