<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./partial/navbar %>
    
        <div class=" py-2 px-4 mt-8">
            <h3 class="text-xl font-semibold text-center text-gray-800">Favorites</h3>
        </div>
        <div class="">
            <h1 class="flex flex-row flex-nowrap items-center mt-20">
              <span class="flex-grow block border-t border-black"></span>
              <span class="flex-none block mx-4 px-4 py-2.5 text-md rounded leading-none font-medium bg-black text-white">
              Posts
          </span>
              <span class="flex-grow block border-t border-black"></span>
          </h1>
          </div>
        <div class="max-w-screen-full mx-auto p-16">

            <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10">
                <div
                    class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="py-4 px-6">
                        <div class="flex gap-2">
                        <img src="https://randomuser.me/api/portraits/women/72.jpg" class="rounded-full h-12 w-12 mb-4"><p>Emily Jones<br><small>6 mins ago</small></p></div>
                        
                        <h4 class="text-lg mb-3 font-semibold">Beautiful Mountain View</h4>
                       
                        <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        
                        <img src="https://images.unsplash.com/photo-1454496522488-7a8e488e8606" class="w-100">
        
                        <hr class="mt-4">
                        <a href="/postDetail"><span class="text-sm">See more...</span></a>
                    </div>
                </div>
        
                <div
                    class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="py-4 px-6">
                        <div class="flex gap-2">
                        <img src="https://randomuser.me/api/portraits/women/72.jpg" class="rounded-full h-12 w-12 mb-4"><p>Emily Jones<br><small>6 mins ago</small></p></div>
                        
                        <h4 class="text-lg mb-3 font-semibold">Beautiful Mountain View</h4>
                       
                        <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        
                        <img src="https://images.unsplash.com/photo-1454496522488-7a8e488e8606" class="w-100">
        
                        <hr class="mt-4">
                        <a href="/postDetail"><span class="text-sm">See more...</span></a>
                    </div>
                </div>
        
                <div
                    class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="py-4 px-6">
                        <div class="flex gap-2">
                        <img src="https://randomuser.me/api/portraits/women/72.jpg" class="rounded-full h-12 w-12 mb-4"><p>Emily Jones<br><small>6 mins ago</small></p></div>
                        
                        <h4 class="text-lg mb-3 font-semibold">Beautiful Mountain View</h4>
                       
                        <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        
                        <img src="https://images.unsplash.com/photo-1454496522488-7a8e488e8606" class="w-100">
        
                        <hr class="mt-4">
                        <a href="/postDetail"><span class="text-sm">See more...</span></a>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="">
            <h1 class="flex flex-row flex-nowrap items-center mt-16">
              <span class="flex-grow block border-t border-black"></span>
              <span class="flex-none block mx-4 px-4 py-2.5 text-md rounded leading-none font-medium bg-black text-white">
              Video
          </span>
              <span class="flex-grow block border-t border-black"></span>
          </h1>
          </div>
          <div class="max-w-screen-full mx-auto p-16">

            <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10">
                <div
                    class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="py-4 px-6">
                        <div class="flex gap-2">
                        <img src="https://randomuser.me/api/portraits/women/72.jpg" class="rounded-full h-12 w-12 mb-4"><p>Emily Jones<br><small>6 mins ago</small></p></div>
                        
                        <h4 class="text-lg mb-3 font-semibold">Beautiful Mountain View</h4>
                       
                        <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        
                            <a href="#!">
                                <video width="320" height="240" controls class="w-full rounded-t-lg">
                                    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </a>
        
                        <hr class="mt-4">
                        <a href="/postDetail"><span class="text-sm">See more...</span></a>
                    </div>
                </div>
        
                <div
                    class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="py-4 px-6">
                        <div class="flex gap-2">
                        <img src="https://randomuser.me/api/portraits/women/72.jpg" class="rounded-full h-12 w-12 mb-4"><p>Emily Jones<br><small>6 mins ago</small></p></div>
                        
                        <h4 class="text-lg mb-3 font-semibold">Beautiful Mountain View</h4>
                       
                        <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        
                            <a href="#!">
                                <video width="320" height="240" controls class="w-full rounded-t-lg">
                                    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </a>
        
                        <hr class="mt-4">
                        <a href="/postDetail"><span class="text-sm">See more...</span></a>
                    </div>
                </div>
        
                <div
                    class="mt-5 hover:bg-accent hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="py-4 px-6">
                        <div class="flex gap-2">
                        <img src="https://randomuser.me/api/portraits/women/72.jpg" class="rounded-full h-12 w-12 mb-4"><p>Emily Jones<br><small>6 mins ago</small></p></div>
                        
                        <h4 class="text-lg mb-3 font-semibold">Beautiful Mountain View</h4>
                       
                        <p class="mb-2 text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        
                            <a href="#!">
                                <video width="320" height="240" controls class="w-full rounded-t-lg">
                                    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </a>
        
                        <hr class="mt-4">
                        <a href="/postDetail"><span class="text-sm">See more...</span></a>
                    </div>
                </div>
        
            </div>
        </div>
        
        <div class="">
            <h1 class="flex flex-row flex-nowrap items-center mt-16">
              <span class="flex-grow block border-t border-black"></span>
              <span class="flex-none block mx-4 px-4 py-2.5 text-md rounded leading-none font-medium bg-black text-white">
              Reels
          </span>
              <span class="flex-grow block border-t border-black"></span>
          </h1>
          </div>

          <div class="max-w-screen-full mx-auto p-16">

            <div class="sm:grid lg:grid-cols-4 sm:grid-cols-2 gap-5 ">
                
                <div class="artboard phone-1 rounded-lg mt-5"><iframe frameborder="0" allowfullscreen="1" class="rounded-lg"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    width="100%" height="100%"
                    src="https://www.youtube.com/embed/mr15Xzb1Ook?autoplay=0&amp;mute=0&amp;controls=0&"
                    id="widget2">
                </iframe>
                </div>
                <div class="artboard phone-1 rounded-lg mt-5"><iframe frameborder="0" allowfullscreen="1" class="rounded-lg"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    width="100%" height="100%"
                    src="https://www.youtube.com/embed/mr15Xzb1Ook?autoplay=0&amp;mute=0&amp;controls=0&"
                    id="widget2">
                </iframe>
                </div>
                <div class="artboard phone-1 rounded-lg mt-5"><iframe frameborder="0" allowfullscreen="1" class="rounded-lg"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    width="100%" height="100%"
                    src="https://www.youtube.com/embed/mr15Xzb1Ook?autoplay=0&amp;mute=0&amp;controls=0&"
                    id="widget2">
                </iframe>
                </div>
                <div class="artboard phone-1 rounded-lg mt-5"><iframe frameborder="0" allowfullscreen="1" class="rounded-lg"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    width="100%" height="100%"
                    src="https://www.youtube.com/embed/mr15Xzb1Ook?autoplay=0&amp;mute=0&amp;controls=0&"
                    id="widget2">
                </iframe>
                </div>
            </div>
        </div>
  </body>
</html>