<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./partial/navbar %>

    <div class="w-full h-full py-10 flex flex-col gap-4 items-center justify-center">

      <div
          class="md:text-4xl sm:text-3xl text-2xl text-center font-serif font-extrabold border-b-2 dark:border-blue-500 rounded-b-md mb-6 border-yellow-500">
          Notifications</div>
  
      
       <!-- 1 -->
    <div
    class="sm:w-[70%] w-[94%] mx-auto dark:bg-gray-300 bg-gray-700 p-4 rounded-md flex sm:gap-4 gap-2 items-center justify-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1hSA2mr2Mu0LO2KvwzJCNjBjDSTisKTQLYQ&s" alt="profile" class="w-[5rem] object-cover h-[5rem] outline outline-2 outline-blue-400 dark:outline-teal-400/20 rounded-full" />
    <div class="w-[80%] flex flex-col gap-1">
        <div class="text-lg font-semibold font-serif text-white dark:text-black">Benjamin</div>
        <p class="text-sm dark:text-gray-600 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div>
          <a href="#" class="text-sm tracking-wide text-white underline">See Details</a>
        </div>
        <p class="text-[12px] text-semibold dark:text-gray-700 text-gray-400 text-right">a few moments ago</p>
    </div>
    
      <button onClick='return this.parentNode.remove()'
      class="p-1 -top-1 -right-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
          viewBox="0 0 20 20"
          fill="white"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

   
</div>
      
  
      <!-- 2 -->
 
    <div
    class="sm:w-[70%] w-[94%] mx-auto dark:bg-gray-300 bg-gray-700 p-4 rounded-md flex sm:gap-4 gap-2 items-center justify-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqJDuWmTi6QJkPPU0zKjnel8oFWEGLGJsezw&s" alt="profile" class="w-[5rem] object-cover h-[5rem] outline outline-2 outline-blue-400 dark:outline-teal-400/20 rounded-full" />
    <div class="w-[80%] flex flex-col gap-1">
        <div class="text-lg font-semibold font-serif text-white dark:text-black">Grace</div>
        <p class="text-sm dark:text-gray-600 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Labore reiciendis earum quasi</p>
        <div>
          <a href="#" class="text-sm tracking-wide text-white underline">See Details</a>
        </div>
        <p class="text-[12px] text-semibold dark:text-gray-700 text-gray-400 text-right">7 minutes ago</p>
    </div>
    
      <button onClick='return this.parentNode.remove()'
      class="p-1 rounded-full -top-1 -right-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
          viewBox="0 0 20 20"
          fill="white"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

   
</div>
  
      <!-- 3 -->
      <div
      class="sm:w-[70%] w-[94%] mx-auto dark:bg-gray-300 bg-gray-700 p-4 rounded-md flex sm:gap-4 gap-2 items-center justify-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSphPskBxqirQoFnkjM2bUVI0xgk4wjFtYydA&s" alt="profile" class="w-[5rem] object-cover h-[5rem] outline outline-2 outline-blue-400 dark:outline-teal-400/20 rounded-full" />
      <div class="w-[80%] flex flex-col gap-1">
          <div class="text-lg font-semibold font-serif text-white dark:text-black">Sophia</div>
          <p class="text-sm dark:text-gray-600 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Labore reiciendis earum quasi</p>
          <div>
            <a href="#" class="text-sm tracking-wide text-white underline">See Details</a>
          </div>
          <p class="text-[12px] text-semibold dark:text-gray-700 text-gray-400 text-right">2 days ago</p>
      </div>
      
        <button onClick='return this.parentNode.remove()'
        class="p-1  -top-1 -right-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8"
            viewBox="0 0 20 20"
            fill="white"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
  
     
  </div>>
  </div>

  </body>
</html>
