<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./partial/navbar %>
    

    <div class="mt-1 grid grid-cols-1 font-sm md:grid-cols-1 col-lg-4 col-md-12 col-md-12">

    <div class="col-md-12 no-gutters grid-flow-col-dense">
        <div class="leftside">
    
    <div class="p-4 rounded-lg">

    <article class="article-post" id="post-323234">

    
            
            
    <span class="date font-bold">Auguest 18, 2024</span>

    <span class="name flex text-1xl font-bold justify-end -mt-6 -my-2">By
        <a href="" title="Posts by John Doe" rel="author">John Doe</a>
    </span>
            
    
    
        
        <span class="mb-3 text-3xl font-bold flex justify-center text-center -mt-2">Switzerland</span>


        <div class="entry-content article-body">
            <div class="hero-image hero-image-main hero-image-main3">
                <div class="one-one-ratio">
    
            <div class="hero-ratio flex justify-center items-center"><img src="https://cdn.britannica.com/65/162465-050-9CDA9BC9/Alps-Switzerland.jpg" alt="Switzerland" width="800" height="800" class="center">
            </div><br>

        </div>
        </div>
        </div>

        
    
         <p class="text-justify mx-2 lg:mx-32">
            Swiss culture is characterised by diversity, which is reflected in diverse traditional customs. A region may be in some ways culturally
            connected to the neighbouring country that shares its language, all rooted in western European culture. The linguistically isolated Romansh
            culture in Graubünden in eastern Switzerland constitutes an exception. It survives only in the upper valleys of the Rhine and the Inn and strives 
            to maintain its rare linguistic tradition.
         </p><br>
    
         <p class="text-justify mx-2 lg:mx-32">
         
            Switzerland is home to notable contributors to literature, art, architecture, music and sciences. In addition, the country attracted creatives during 
            times of unrest or war.Some 1000 museums are found in the country.

        </p><br>

        <p class="text-justify mx-2 lg:mx-32">
            Swiss residents are required to buy health insurance from private insurance companies, which in turn are required to accept every applicant.
             While the cost of the system is among the highest, its health outcomes compare well with other European countries; patients have been 
             reported as in general, highly satisfied with it. In 2012, life expectancy at birth was 80.4 years for men and 84.7 years for women 
             – the world's highest. However, spending on health at 11.4% of GDP (2010) is on par with Germany and France (11.6%) and other European 
             countries, but notably less than the US (17.6%). From 1990, costs steadily increased.


        </p><br>

        <div class="entry-content article-body">
            <div class="hero-image hero-image-main hero-image-main3">
                <div class="one-one-ratio">
    
            <div class="hero-ratio flex justify-center items-center"><img src="https://images.unsplash.com/photo-1530878902700-5ad4f9e4c318?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHN3aXR6ZXJsYW5kfGVufDB8fDB8fHww" alt="Switzerland" width="800" height="800" class="center">
            </div><br>

        </div>
        </div>
        </div>

        <p class="text-justify mx-2 lg:mx-32">
            Switzerland's many small valleys separated by high mountains often host unique ecologies. The mountainous regions themselves offer a 
            rich range of plants not found at other altitudes. The climatic, geological and topographical conditions of the alpine region make 
            for a fragile ecosystem that is particularly sensitive to climate change. According to the 2014 Environmental Performance 
            Index, Switzerland ranks first among 132 nations in safeguarding the environment, due to its high scores on environmental public
             health, its heavy reliance on renewable sources of energy (hydropower and geothermal energy), and its level of greenhouse gas 
             emissions. In 2020 it was ranked third out of 180 countries. The country pledged to cut GHG emissions by 50% by 2030 compared
              to the level of 1990 and plans to reach zero emissions by 2050.
        </p><br>

        <p class="text-justify mx-2 lg:mx-32">
            However, access to biocapacity in Switzerland is far lower than the world average. In 2016, 
            Switzerland had 1.0 hectares of biocapacity per person within its territory, 40 per cent 
            less than world average of 1.6. In contrast, in 2016, Swiss consumption required 4.6 hectares 
            of biocapacity – their ecological footprint, 4.6 times as much as Swiss territory can support.
            The remainder comes from other countries and the shared resources (such as the atmosphere 
            impacted by greenhouse gas emissions). Switzerland had a 2019 Forest Landscape Integrity
            Index mean score of 3.53/10, ranking it 150th globally out of 172 countries.


        </p>


        <div class="grid grid-flow-col">
            <a href="#" class="text-gray-500 mx-6 hover:text-gray-700 mr-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="26" height="26" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>Like</a>
            <a href="#" class="text-gray-500 hover:text-gray-700 mr-10"><div class="flex justify-end"><svg class="flex justify-end" style="enable-background:new 0 0 24 24;" width="26" height="26" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="info"></g><g id="icons"><path d="M21.7,10.2l-6.6-6C14.6,3.7,14,4.2,14,5v3c-4.7,0-8.7,2.9-10.6,6.8c-0.7,1.3-1.1,2.7-1.4,4.1   c-0.2,1,1.3,1.5,1.9,0.6C6.1,16,9.8,13.7,14,13.7V17c0,0.8,0.6,1.3,1.1,0.8l6.6-6C22.1,11.4,22.1,10.6,21.7,10.2z" id="share"></path></g></svg></div><p class="mb-3 flex justify-end">Share</p></a>
        </div>
    
            
    </article>
</div>

</div>
</div>

  


<div class="col-md-3 mx-3 lg:mx-10 grid-cols-6">
<div class="mt-20">
    
    <h1 class="text-2xl font-bold mb-1 -mt-20">Comments Section</h1>
       
            <div class="p-6">
   

    <div class="rightside">

      <h2 class="text-lg font-bold mb-4">Comments</h2>
      <div class="flex-col space-y-4">

        
          <div class="p-4 rounded-lg shadow-2xl">

            <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" 
                class="rounded-full h-11 w-11 mb-4"><p class="mb-7">John Doe<br><small class="mx-1 mb-7">Posted on April 17, 2023</small></p></div>

            
              <p class="text-gray-700">This is a sample comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>

       
              <div class="">
                <a href="#" class="text-gray-500 font-bold  mr-4"><i class="far fa-thumbs-up"></i> Like</a>
             


                <button class="btn btn-sm w-20" onclick="my_modal_4.showModal()">Reply</button>
                <dialog id="my_modal_4" class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold mb-4">Reply a comment</h3>
                    <form class="p-4 rounded-lg shadow-md">
                      <div class="mb-4">
                         
                          <textarea
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="comment" rows="3" placeholder="Enter your comment"></textarea>
                      </div>
                  
                      <div class="mb-4">
                          <label class="block text-gray-700 font-bold mb-2" for="name">
                              Name
                          </label>
                          <input
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="name" type="text" placeholder="Enter your name">
                      </div>
                      <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2" for="email">
                            Email
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="text" placeholder="Enter your email">
                    </div>
                  </form>
                    <div class="modal-action">
                      <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Cancel Reply</button>
                      </form>
                    </div>
                  </div>
                </dialog>
               
              </div>

           

                

              
               

          </div>
          <div class="p-4 rounded-lg shadow-2xl">

            <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" 
                class="rounded-full h-11 w-11 mb-5"><p class="mb-4">Jame Smith<br><small class="mx-1 mb-5">Posted on April 16, 2023</small></p></div>
             
             
              <p class="text-gray-700">I agree with John. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="">
                <a href="#" class="text-gray-500 font-bold mr-4">Like</a>
             


                <button class="btn btn-sm w-20" onclick="my_modal_3.showModal()">Reply</button>
                <dialog id="my_modal_3" class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold mb-4">Reply a comment</h3>
                    <form class="p-4 rounded-lg shadow-md">
                      <div class="mb-4">
                         
                          <textarea
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="comment" rows="3" placeholder="Enter your comment"></textarea>
                      </div>
                  
                      <div class="mb-4">
                          <label class="block text-gray-700 font-bold mb-2" for="name">
                              Name
                          </label>
                          <input
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="name" type="text" placeholder="Enter your name">
                      </div>
                      <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2" for="email">
                            Email
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="text" placeholder="Enter your email">
                    </div>
                  </form>
                    <div class="modal-action">
                      <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Cancel Reply</button>
                      </form>
                    </div>
                  </div>
                </dialog>
               
              </div>


          </div>
          <div class="p-4 rounded-lg shadow-2xl">
            <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" 
                class="rounded-full h-11 w-11 mb-5"><p class="mb-4">Bob Johnson<br><small class="mx-1 mb-5">Posted on April 15, 2023</small></p></div>
             
              <p class="text-gray-700" style="font-size: medium;">I have a different opinion. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="">
                <a href="#" class="text-gray-500 font-bold mr-4"><i class="far fa-thumbs-up"></i> Like</a>
             


                <button class="btn btn-sm w-20" onclick="my_modal_2.showModal()">Reply</button>
                <dialog id="my_modal_2" class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold mb-4">Reply a comment</h3>
                    <form class="p-4 rounded-lg shadow-md">
                      <div class="mb-4">
                         
                          <textarea
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="comment" rows="3" placeholder="Enter your comment"></textarea>
                      </div>
                  
                      <div class="mb-4">
                          <label class="block text-gray-700 font-bold mb-2" for="name">
                              Name
                          </label>
                          <input
                              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="name" type="text" placeholder="Enter your name">
                      </div>
                      <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2" for="email">
                            Email
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="text" placeholder="Enter your email">
                    </div>
                  </form>
                    <div class="modal-action">
                      <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Cancel Reply</button>
                      </form>
                    </div>
                  </div>
                </dialog>
               
              </div>


          </div>
             
          
      </div>
    

</div>
</div>

</div>

</div>




<div class="flex-col space-y-4">

<button class="rounded flex focus:outline-none text-1xl font-medium bg-sky-800 hover:bg-cyan-700 text-white mx-2 sm:mx-16 py-2 px-4 focus:shadow-outline" 
onclick="my_modal_5.showModal()">Write a comment</button>
<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-2xl font-bold">Add a comment</h3>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mt-3 mb-2" for="name">
            Name
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name" type="text" placeholder="Enter your name">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="email">
          Email
      </label>
      <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email" type="text" placeholder="Enter your email">
  </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="comment">
            Comment
        </label>
        <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="comment" rows="3" placeholder="Enter your comment"></textarea>
    </div>

    <form method="dialog">
    <button
        class="bg-sky-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Post Comment
    </button>

    
        <button class="float-right mb-10 h-9 px-5 rounded-md text-white font-bold bg-red-500 hover:bg-red-400">Close</button>
    </form>


      </form>
    </div>
  </div>
</dialog>

</div>


  </body>
</html>
