<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./partial/navbar %>
    <span class="mb-3 text-2xl font-bold flex justify-start mx-4">Post Details</span>

    <div class="mt-1 grid grid-cols-1 font-sm md:grid-cols-1 col-lg-4 col-md-12 col-md-12">

    <div class="col-md-12 no-gutters grid-flow-col-dense">
        <div class="leftside">
    
    <div class="p-4 rounded-lg">

    <article class="article-post" id="post-323234">

    
            
            
    <span class="date font-bold">Auguest 18, 2024</span>

    <span class="name flex text-1xl font-bold justify-end -mt-6 -my-2">By
        <a href="" title="Posts by John Doe" rel="author">John Doe</a>
    </span>
            
    
    
        
        <span class="mb-3 text-3xl font-bold flex justify-center text-center -mt-2">Switzerland</span>


        <div class="entry-content article-body">
            <div class="hero-image hero-image-main hero-image-main3">
                <div class="one-one-ratio">
    
            <div class="hero-ratio flex justify-center items-center"><img src="https://cdn.britannica.com/65/162465-050-9CDA9BC9/Alps-Switzerland.jpg" alt="Switzerland" width="800" height="800" class="center">
            </div><br>

        </div>
        </div>
        </div>

        
    
         <p class="text-justify mx-32">
            Swiss culture is characterised by diversity, which is reflected in diverse traditional customs. A region may be in some ways culturally
            connected to the neighbouring country that shares its language, all rooted in western European culture. The linguistically isolated Romansh
            culture in Graubünden in eastern Switzerland constitutes an exception. It survives only in the upper valleys of the Rhine and the Inn and strives 
            to maintain its rare linguistic tradition.
         </p><br>
    
         <p class="text-justify mx-32">
         
            Switzerland is home to notable contributors to literature, art, architecture, music and sciences. In addition, the country attracted creatives during 
            times of unrest or war.Some 1000 museums are found in the country.

        </p><br>

        <p class="text-justify mx-32">
            Swiss residents are required to buy health insurance from private insurance companies, which in turn are required to accept every applicant.
             While the cost of the system is among the highest, its health outcomes compare well with other European countries; patients have been 
             reported as in general, highly satisfied with it. In 2012, life expectancy at birth was 80.4 years for men and 84.7 years for women 
             – the world's highest. However, spending on health at 11.4% of GDP (2010) is on par with Germany and France (11.6%) and other European 
             countries, but notably less than the US (17.6%). From 1990, costs steadily increased.


        </p><br>

   
    
            
    </article>
</div>

</div>
</div>

  

<div class="col-md-3 mx-3 grid-cols-6">
<div class="mt-20">
    
        
       
            <h1 class="text-2xl font-bold mb-3 -mt-20">Comments Section</h1>
       
          
            <button
                  class="bg-sky-800 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit" id="myButton">
                  Write a Comment
              </button>
           
            
      
        
  
            <div class="p-6">
   

    <div class="rightside">
 
    
       
      <h2 class="text-lg font-bold mb-4">Comments</h2>
      <div class="flex-col space-y-4">

        
          <div class="p-4 rounded-lg shadow-2xl">

            <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" 
                class="rounded-full h-11 w-11 mb-4"><p class="mb-7">John Doe<br><small class="mx-1 mb-7">Posted on April 17, 2023</small></p></div>

            
              <p class="text-gray-700">This is a sample comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>

              <div>
                <a href="#" class="text-gray-500 hover:bg-blue-600 mr-4"><i class="far fa-thumbs-up"></i> Like</a>
                <a href="#" class="text-gray-500 hover:text-gray-700 mr-10"><i class="far fa-comment-alt"></i> Reply</a>
                
            </div>
              
               

          </div>
          <div class="p-4 rounded-lg shadow-2xl">

            <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" 
                class="rounded-full h-11 w-11 mb-5"><p class="mb-4">Jame Smith<br><small class="mx-1 mb-5">Posted on April 16, 2023</small></p></div>
             
             
              <p class="text-gray-700">I agree with John. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div>
                <a href="#" class="text-gray-500 hover:bg-blue-600 mr-4"><i class="far fa-thumbs-up"></i> Like</a>
                <a href="#" class="text-gray-500 hover:text-gray-700 mr-10"><i class="far fa-comment-alt"></i> Reply</a>
                
            </div>

          </div>
          <div class="p-4 rounded-lg shadow-2xl">
            <div class="flex gap-2">
                <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxwZW9wbGV8ZW58MHwwfHx8MTcxMTExMTM4N3ww&ixlib=rb-4.0.3&q=80&w=1080" 
                class="rounded-full h-11 w-11 mb-5"><p class="mb-4">Bob Johnson<br><small class="mx-1 mb-5">Posted on April 15, 2023</small></p></div>
             
              <p class="text-gray-700" style="font-size: medium;">I have a different opinion. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div>
                <a href="#" class="text-gray-500 hover:text-gray-700 mr-4"><i class="far fa-thumbs-up"></i> Like</a>
                <a href="#" class="text-gray-500 hover:text-gray-700 mr-10"><i class="far fa-comment-alt"></i> Reply</a>
                
            </div>

          </div>

        
          <span class="hidden" id="myCom">
          <form class="p-4 rounded-lg shadow-md">
              <h3 class="text-lg font-bold mb-2">Add a comment</h3>
              <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="name">
                      Name
                  </label>
                  <input
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="name" type="text" placeholder="Enter your name">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="email">
                    Email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" type="text" placeholder="Enter your email">
            </div>
              <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="comment">
                      Comment
                  </label>
                  <textarea
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="comment" rows="3" placeholder="Enter your comment"></textarea>
              </div>
              <button
                  class="bg-sky-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit">
                  Post Comment
              </button>
          </form>
      </div>
    

</span>
</div>

</div>
</div>

</div>

</div>





  

<script>
    const myButton = document.getElementById("myButton");
    const myCom = document.getElementById("myCom");
    
    myButton.addEventListener("click", event => {
          
       if (myCom.style.display = "none") {
        myCom.style.display = "block";
        myButton.textContent = "Write a comment";

       } else {
        myCom.style.display = "none";
        myButton.textContent = "Show";
       }

       
    });

</script>


  </body>
</html>
