<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    

    <main id="content" role="main" class="w-full  max-w-md mx-auto p-6">
      <div class="mt-7 rounded-xl shadow-lg dark:bg-gray-800 dark:border-gray-700 border-2 border-indigo-300">
        <div class="p-4 sm:p-7">
          <div class="">
            <p class="block text-xl font-bold text-gray-800 dark:text-white">Check your email</p>
            
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
             We sent a reset link to <span class="font-bold">m*****3@gmail.com</span> enter 5 digit code that mentioned in the email           
            </p>
          </div>
          <br>
          <div class="grid grid-cols-5 gap-x-4 my-2">
            <input class="w-12 h-12 text-center border border-indigo-400 rounded-md shadow-sm focus:border-teal-500 focus:ring-teal-500" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
            <input class="w-12 h-12 text-center border border-indigo-400 rounded-md shadow-sm focus:border-teal-500 focus:ring-teal-500" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
            <input class="w-12 h-12 text-center border border-indigo-400 rounded-md shadow-sm focus:border-teal-500 focus:ring-teal-500" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
            <input class="w-12 h-12 text-center border border-indigo-400 rounded-md shadow-sm focus:border-teal-500 focus:ring-teal-500" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
            <input class="w-12 h-12 text-center border border-indigo-400 rounded-md shadow-sm focus:border-teal-500 focus:ring-teal-500" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" autocomplete="one-time-code" required>
        </div>

       
        <a href="newPassword"  class="mt-5 grid w-100 h-10 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Verify Code</a>
        
        <p class="mt-5 text-center text-sm text-gray-500 dark:text-gray-400">
          Haven't got the email yet?
          <a class="text-blue-600 decoration-2 underline font-medium" href="forgotPassword">
            Resend email
          </a>             
        </p>
      </div>
    </div>
    </main>
  </body>
</html>
