<div class="navbar bg-base-200">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a>SignIn</a></li>
        <li><a>Noti</a></li>
        <li>
          <div class="form-control mb-auto">
            <input
              type="search"
              placeholder="Search"
              class="input input-bordered input-sm"
            />
          </div>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">PostVibe</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>SignIn</a></li>
      <li><a>Noti</a></li>
      <li>
        <div class="form-control mb-auto">
          <input
            type="search"
            placeholder="Search"
            class="input input-bordered input-sm"
          />
        </div>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <div
      title="Change Theme"
      class="dropdown dropdown-end hidden [@supports(color:oklch(0%_0_0))]:block z-20"
    >
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg
          width="20"
          height="20"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="h-5 w-5 stroke-current md:hidden"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
          ></path>
        </svg>
        <span class="hidden font-normal md:inline">Theme</span>
        <svg
          width="12px"
          height="12px"
          class="hidden h-2 w-2 fill-current opacity-60 sm:inline-block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048"
        >
          <path
            d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
          ></path>
        </svg>
      </div>
      <div
        tabindex="0"
        class="dropdown-content bg-base-200 text-base-content rounded-box top-px h-[28.6rem] max-h-[calc(100vh-10rem)] w-56 overflow-y-auto border border-white/5 shadow-2xl outline outline-1 outline-black/5 mt-16"
      >
        <div class="grid grid-cols-1 gap-3 p-3">
          <button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="light"
            onclick="localStorage.setItem('theme', 'light'); location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="light"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">light</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="dark"
            onclick="localStorage.setItem('theme', 'dark');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="dark"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">dark</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="cupcake"
            onclick="localStorage.setItem('theme', 'cupcake');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="cupcake"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">cupcake</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="bumblebee"
            onclick="localStorage.setItem('theme', 'bumblebee');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="bumblebee"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">bumblebee</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="emerald"
            onclick="localStorage.setItem('theme', 'emerald');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="emerald"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">emerald</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="corporate"
            onclick="localStorage.setItem('theme', 'corporate');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="corporate"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">corporate</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="synthwave"
            onclick="localStorage.setItem('theme', 'synthwave');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="synthwave"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">synthwave</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="retro"
            onclick="localStorage.setItem('theme', 'retro');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="retro"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">retro</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="cyberpunk"
            onclick="localStorage.setItem('theme', 'cyberpunk');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="cyberpunk"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">cyberpunk</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="valentine"
            onclick="localStorage.setItem('theme', 'valentine');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="valentine"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">valentine</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="halloween"
            onclick="localStorage.setItem('theme', 'halloween');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="halloween"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">halloween</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="garden"
            onclick="localStorage.setItem('theme', 'garden');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="garden"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">garden</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="forest"
            onclick="localStorage.setItem('theme', 'forest');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="forest"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">forest</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="aqua"
            onclick="localStorage.setItem('theme', 'aqua');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="aqua"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">aqua</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="lofi"
            onclick="localStorage.setItem('theme', 'lofi');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="lofi"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">lofi</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="pastel"
            onclick="localStorage.setItem('theme', 'pastel');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="pastel"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">pastel</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="fantasy"
            onclick="localStorage.setItem('theme', 'fantasy');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="fantasy"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">fantasy</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="wireframe"
            onclick="localStorage.setItem('theme', 'wireframe');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="wireframe"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">wireframe</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="black"
            onclick="localStorage.setItem('theme', 'black');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="black"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">black</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="luxury"
            onclick="localStorage.setItem('theme', 'luxury');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="luxury"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">luxury</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="dracula"
            onclick="localStorage.setItem('theme', 'draula');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="dracula"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">dracula</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="cmyk"
            onclick="localStorage.setItem('theme', 'cmyk');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="cmyk"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">cmyk</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="autumn"
            onclick="localStorage.setItem('theme', 'autumn');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="autumn"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">autumn</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="business"
            onclick="localStorage.setItem('theme', 'business');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="business"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">business</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="acid"
            onclick="localStorage.setItem('theme', 'acid');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="acid"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">acid</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="lemonade"
            onclick="localStorage.setItem('theme', 'lemonade');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="lemonade"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">lemonade</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="night"
            onclick="localStorage.setItem('theme', 'night');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="night"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">night</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="coffee"
            onclick="localStorage.setItem('theme', 'coffee');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="coffee"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">coffee</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="winter"
            onclick="localStorage.setItem('theme', 'winter');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="winter"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">winter</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="dim"
            onclick="localStorage.setItem('theme', 'dim');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="dim"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">dim</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="nord"
            onclick="localStorage.setItem('theme', 'nord');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="nord"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">nord</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><button
            class="outline-base-content text-start outline-offset-4"
            data-act-class="[&amp;_svg]:visible"
            data-set-theme="sunset"
            onclick="localStorage.setItem('theme', 'sunset');location.reload();"
          >
            <span
              class="bg-base-100 rounded-btn text-base-content block w-full cursor-pointer font-sans"
              data-theme="sunset"
              ><span class="grid grid-cols-5 grid-rows-3"
                ><span
                  class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="invisible h-3 w-3 shrink-0"
                  >
                    <path
                      d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                    ></path>
                  </svg>
                  <span class="flex-grow text-sm">sunset</span>
                  <span class="flex h-full shrink-0 flex-wrap gap-1"
                    ><span class="bg-primary rounded-badge w-2"></span>
                    <span class="bg-secondary rounded-badge w-2"></span>
                    <span class="bg-accent rounded-badge w-2"></span>
                    <span
                      class="bg-neutral rounded-badge w-2"
                    ></span></span></span></span
            ></span></button
          ><!---->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  console.log(localStorage.getItem("theme"));
  document
    .getElementsByTagName("html")[0]
    .setAttribute("data-theme", localStorage.getItem("theme"));
</script>
